@media screen and (min-width: 1040px) {
  main {
    padding: 35px 45px 45px 45px;
  }  
  .texto {
    margin-top: 70px;
    font-size: 2em;
    padding: 14px;
  }
  .sidebar {
    top: 15px;
    right: 15px;
    position: absolute;
    width: 45vh;
    height: 90vh;
  }
  form {
    width: 75%;
    height: 45vh;
  }
  .logoAlura {
    position: absolute;
    top: 44px;
    left: 42px;
  }
  .pieDePagina{
    font-size: 1.2em;
  }
}
