@media  screen and (max-width: 500px) {
    main{
        padding: 20px 100px;
    }
    .sidebar{
        display: none;
    }
    .muñecoAlura {
        display: none;
    }
    textarea.texto{
        font-size: 1.4em;
        margin-top: 40px;
    }
    body .logoAlura{
        transform: scale(0.9);
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    footer .pieDePagina{
        font-size: 0.9em !important;
        display: block;
    }
}