@import "reset";
@import "auxiliares";
@import "desktop";
@import "tablets";
@import "telefonos";

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba($color: #50b7d1, $alpha: 0.6);
  overflow-y: hidden;
  height: 100%;
}
*::selection{
  background-color: #0a3871;
}

.logoAlura {
  -webkit-filter: drop-shadow(3px 3px 0 $sombra);
  filter: drop-shadow(3px 3px 0 $sombra);
  user-select: none;
}

.muñecoAlura {
  width: inherit;
  user-select: none;
}
#texto {
  transition: height 0.2s;
}
.contador {
  user-select: none;
  color: #777;
  display: inline-block;
}
.texto {
  display: flex;
  user-select: text;
  resize: none;
  width: 100%;
  min-height: 2rem;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: none;
  &::placeholder {
    color: #ddd;
  }
  color: #fff;
  &::spelling-error{
    color: orange;
    text-decoration: wavy orange;   
  }
  &::-webkit-spelling-error-text{
     color: green;
     text-decoration: wavy green;   
   }
}
.sidebar {
  box-sizing: border-box;
  background-color: chocolate;
  border-radius: 30px;
  .contenedorSide{
    @include box-flex(center, center, wrap);
    height: 100%;
    width: 100%;
  }
  .contenedorResultado{
    @include box-flex(center, center, wrap);
    height: 100%;
    width: 100%;

  }
}
.botones-formato {
  width: 300px;
  border: none;
  text-align: center;
  border-radius: 20px;
}
.botones {
  display: flex;
  position: absolute;
  bottom: 100px;
  font-size: 2.4em;
  gap: 15px;
  .encriptar {
    color: #fff;
    background-color: #398396;
    @extend .botones-formato;
    &:hover {background-color: #317485}
  }
  .desencriptar {
    color: #398396;
    background-color: #fff;
    @extend .botones-formato;
    &:hover {background-color: rgb(220, 220, 235)}
  }
}
.copiar{
  background-color: #fff;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 20px;
  width: 100%;
  margin:  0px 10px 0px 10px;
  display: none;
}
.aviso{
  display:flex;
  width:100%; 
  background-color: #0a3871;
  color: #fff;
  width: fit-content;
  border-radius: 20px;
  text-align: center;
}
.pieDePagina {
left: 0; 
box-sizing: border-box;
padding: 10px;
  background-color: rgba($color: #398396, $alpha: 0.2);
  width: 100%;
  text-align: center;
}
