* {
  padding: 0%;
  margin: 0%;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25vh);
  background: rgb(60, 175, 60);
  height: 100vh;
  width: 100%;
}

.logoAlura {
  position: fixed;
  top: 44px;
  left: 48px;
}

form {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  transition: all;
  transition-duration: 2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation: all;
          animation: all;
}

.texto, .textoDesplegado {
  color: rgb(219, 243, 219);
  padding: 1rem;
  text-align: left;
  width: 300px;
  font-size: 2em;
  margin: 10px 0 0 10px;
  background-color: rgb(35, 114, 35);
  border: none;
  border-radius: 1vw;
}
.texto::-moz-placeholder, .textoDesplegado::-moz-placeholder {
  color: rgb(96, 211, 96);
}
.texto:-ms-input-placeholder, .textoDesplegado:-ms-input-placeholder {
  color: rgb(96, 211, 96);
}
.texto::placeholder, .textoDesplegado::placeholder {
  color: rgb(96, 211, 96);
}
.texto:focus, .textoDesplegado:focus {
  border: none;
}

.textoDesplegado {
  height: 10em;
  resize: vertical;
}

.botones {
  margin: 5%;
  background-color: rgba(35, 114, 35, 0.3);
  grid-column: 1/4;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.botones .desencriptar,
.botones .encriptar {
  padding: 0.3em;
  border-radius: 5vw;
  font-size: 200%;
  min-width: 150px;
  width: 200px;
}
.botones .encriptar {
  background-color: whitesmoke;
  color: rgb(35, 114, 35);
}
.botones .encriptar:hover {
  background-color: rgb(212, 212, 212);
}
.botones .desencriptar {
  background-color: rgb(35, 114, 35);
  color: whitesmoke;
}
.botones .desencriptar:hover {
  background-color: rgb(25, 83, 25);
}

.aclaraciones {
  grid-column: 1/4;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-self: start;
  gap: 10px;
}
.aclaraciones .textoAclaraciones {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.sidebar {
  background-color: rgb(35, 114, 35);
  width: auto;
  height: auto;
  grid-column: 4;
  grid-row: 1/5;
  margin: 5%;
}

/*_______________________media_querys__________________________*/
@media only screen and (max-width: 428px) {
  main {
    min-height: 200vh;
  }
  .logoAlura {
    top: 12px;
    left: 14px;
    display: block;
    position: absolute;
    margin: 10px;
  }
  .wrapper {
    grid-template-rows: repeat(8, 25vh);
  }
  .sidebar {
    grid-column: 1/5;
    grid-row: 4/6;
  }
  .botones {
    grid-column: 1/5;
    grid-row: 2;
    background-color: transparent;
    align-items: end;
    margin-bottom: 0;
  }
  .aclaraciones {
    grid-column: 1/5;
    grid-row: 2;
    align-self: center;
    margin: 10px;
  }
  form {
    display: block;
    grid-column: 1/-1;
    grid-row: 1/4;
  }
}/*# sourceMappingURL=style.css.map */